$contrast: rgba(204, 41, 54, 1);
$dark: rgba(2, 24, 43, 1);
$primary: rgba(255, 114, 0, 1);
$light: rgba(254, 255, 254, 1);
$gray: rgba(37, 50, 55, 1);
$gradient: linear-gradient(to right, #fe8c00, #f83600);
